@page "/login"
@layout PageLayout



<div class="sign-in-from bg-white">
    <h1 class="mb-0">Login</h1>
    <p>Enter your email address and password to access admin panel.</p>
    <EditForm Model="_userForAuthenticationDto" OnValidSubmit="LoginUser" class="mt-4 needs-validation">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (ErrorMessage != "")
        {
            <div class="alert alert-danger" role="alert">
                <div class="iq-alert-text">@ErrorMessage</div>
            </div>
        }


        <div class="form-group">
            <label for="email">Email</label>
            <InputText @bind-Value="_userForAuthenticationDto.Email" type="email" class="form-control mb-0" id="email" placeholder="Email" />
            <ValidationMessage For="@(() => _userForAuthenticationDto.Email)" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText @bind-Value="_userForAuthenticationDto.Password" type="password" class="form-control mb-0" id="Password" placeholder="Password" />
            <ValidationMessage For="@(() => _userForAuthenticationDto.Password)" />
        </div>

 


        <div class="d-inline-block w-100">
            <button type="submit" class="btn btn-primary float-right">Login</button>
        </div>
    </EditForm>
</div>