@inherits LayoutComponentBase




<body>
    <section class="sign-in-page">
        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-sm-12 align-self-center">
                    @Body
                </div>
            </div>
        </div>
    </section>
</body>
